* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.roleOrPlayersTitle {
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #e79a09;
    font-weight: 900;
}
.roleOrPlayers {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#4e0000, #000);
}
.playersChangeBTN {
    width: 100px;
    height: 50px;
}
/* role */
#role {
    background: #202020;
    margin: 5px 15px 0;
    border-radius: 10px;
    padding: 5px;
}
#roleUl {
    color: white;
    list-style: none;
}
#roleUl li {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
}

.roleBTN {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    transition: 300ms;
}
.roleBTN:hover {
    background: #a80d0d;
}
/* players */
#players {
    background: #202020;
    margin: 5px 15px 0;
    border-radius: 10px;
}
#playersContainer {
    display: flex;
    flex-direction: column;
}
#playersContainer input {
    margin: 3px 0 3px;
    padding: 10px;
    border-radius: 15px;
}
.playersBTN {
    margin: 10px 0 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #a80d0d;
    color: white;
    font-weight: bold;
}
/* your role */
#yourRole {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #ffdfdf;
    margin: 5px 15px 0;
    border-radius: 5px;
    padding: 10px;
}
#yourRoleTitle {
    letter-spacing: 4px;
    word-spacing: 10px;
}
#yourRoleShow {
    font-size: 50px;
}

#backToRole {
    margin-top: 150px;
    background: red;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    transition: 300ms;
    
}
#backToRole:hover {
    background: #e79a09;
    
}